.App {
}

.App-header {
  background-color: #dbc7ad;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(20px + 2vmin);
  color: rgb(45, 71, 145);
}
